@font-face {
  font-display: swap;
  font-family: 'Khand';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/khand-v22-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Khand';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/khand-v22-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/khand-v22-latin-700.woff2') format('woff2');
}

.main-menu-container {
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
}

.menu-carousel {
    position: relative;
    width: 452px;
    height: 452px;

    background-image: radial-gradient(circle at center,
        #0a2345 0%,
        transparent 80%
    );
    border-radius: 50%;

    --item-gap: 80px;
    --line-width: 350px;
    --line-offset-y: 42px;
}

.menu-carousel::before,
.menu-carousel::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: var(--line-width);
    height: 2px;
    background-color: #5d9ef4;
    z-index: 100;
}

.menu-carousel::before {
    top: calc(50% - var(--line-offset-y));
}

.menu-carousel::after {
    top: calc(50% + var(--line-offset-y));
}

.menu-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    border-radius: 9999px;
    background-color: transparent;
    transform: translate(-50%, -50%) scale(0.8) translateY(calc(var(--item-gap) * 3));
    opacity: 0;
    transition:
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        opacity 0.4s ease,
        background-color 0.3s ease;
}

.icon-container {
    width: 56px;
    height: 56px;
    min-width: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s ease;
}

.menu-icon {
    width: 38px;
    height: 40px;
}

.menu-label {
    font-family: 'Khand', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #A3AED0;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.menu-item.focused {
    background-color: transparent;
}
.menu-item.focused .icon-container {
    background-color: transparent;
}
.menu-item.focused .menu-label {
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 300;
}

.menu-label-status {
    font-weight: 300;
}

.menu-label-status.on {
    color: #00beff;
}

.menu-label-status.off {
    color: #e7ebff;
}

.menu-label-status.sport {
    color: #FF4D4D;
}

.menu-label-status.eco {
    color: #4CAF50;
}

.menu-carousel.focus-0 .menu-item[data-index="0"] { transform: translate(-50%, -50%) translateY(0) scale(1); opacity: 1; z-index: 10; }
.menu-carousel.focus-0 .menu-item[data-index="1"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-0 .menu-item[data-index="2"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-0 .menu-item[data-index="3"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.8)) scale(0.4); opacity: 0;   z-index: 7; }
.menu-carousel.focus-0 .menu-item[data-index="4"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  2)) scale(0.2); opacity: 0;   z-index: 6; }

.menu-carousel.focus-1 .menu-item[data-index="0"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-1 .menu-item[data-index="1"] { transform: translate(-50%, -50%) translateY(0) scale(1); opacity: 1; z-index: 10; }
.menu-carousel.focus-1 .menu-item[data-index="2"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-1 .menu-item[data-index="3"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-1 .menu-item[data-index="4"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.8)) scale(0.4); opacity: 0;   z-index: 7; }
.menu-carousel.focus-1 .menu-item[data-index="5"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  2)) scale(0.2); opacity: 0;   z-index: 6; }

.menu-carousel.focus-2 .menu-item[data-index="0"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-2 .menu-item[data-index="1"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-2 .menu-item[data-index="2"] { transform: translate(-50%, -50%) translateY(0) scale(1); opacity: 1; z-index: 10; }
.menu-carousel.focus-2 .menu-item[data-index="3"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-2 .menu-item[data-index="4"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-2 .menu-item[data-index="5"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.8)) scale(0.4); opacity: 0;   z-index: 7; }

.menu-carousel.focus-3 .menu-item[data-index="0"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.8)) scale(0.4); opacity: 0;   z-index: 7; }
.menu-carousel.focus-3 .menu-item[data-index="1"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-3 .menu-item[data-index="2"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-3 .menu-item[data-index="3"] { transform: translate(-50%, -50%) translateY(0) scale(1); opacity: 1; z-index: 10; }
.menu-carousel.focus-3 .menu-item[data-index="4"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-3 .menu-item[data-index="5"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-3 .menu-item[data-index="6"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.8)) scale(0.4); opacity: 0;   z-index: 7; }

.menu-carousel.focus-4 .menu-item[data-index="0"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -2)) scale(0.2); opacity: 0;   z-index: 6; }
.menu-carousel.focus-4 .menu-item[data-index="1"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.8)) scale(0.4); opacity: 0;   z-index: 7; }
.menu-carousel.focus-4 .menu-item[data-index="2"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-4 .menu-item[data-index="3"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-4 .menu-item[data-index="4"] { transform: translate(-50%, -50%) translateY(0) scale(1); opacity: 1; z-index: 10; }
.menu-carousel.focus-4 .menu-item[data-index="5"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-4 .menu-item[data-index="6"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1.5)) scale(0.6); opacity: 0.6; z-index: 8; }

.menu-carousel.focus-5 .menu-item[data-index="1"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -2)) scale(0.2); opacity: 0;   z-index: 6; }
.menu-carousel.focus-5 .menu-item[data-index="2"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.8)) scale(0.4); opacity: 0;   z-index: 7; }
.menu-carousel.focus-5 .menu-item[data-index="3"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-5 .menu-item[data-index="4"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-5 .menu-item[data-index="5"] { transform: translate(-50%, -50%) translateY(0) scale(1); opacity: 1; z-index: 10; }
.menu-carousel.focus-5 .menu-item[data-index="6"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) *  1)) scale(0.8); opacity: 0.8; z-index: 9; }

.menu-carousel.focus-6 .menu-item[data-index="2"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -2)) scale(0.2); opacity: 0;   z-index: 6; }
.menu-carousel.focus-6 .menu-item[data-index="3"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.8)) scale(0.4); opacity: 0;   z-index: 7; }
.menu-carousel.focus-6 .menu-item[data-index="4"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1.5)) scale(0.6); opacity: 0.6; z-index: 8; }
.menu-carousel.focus-6 .menu-item[data-index="5"] { transform: translate(-50%, -50%) translateY(calc(var(--item-gap) * -1)) scale(0.8); opacity: 0.8; z-index: 9; }
.menu-carousel.focus-6 .menu-item[data-index="6"] { transform: translate(-50%, -50%) translateY(0) scale(1); opacity: 1; z-index: 10; }